.body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  background-color: var(--dark-blue);
}

.content {
  width: 100%;
  padding: 10px;
}

.options {
  margin-top: 1em; 
  padding: 0.2em 1em; 
}

.arrow_container {
  background-color: #fff;
  bottom: 6em;
  right: 1em;
}
