.header {
  height: 80px;
  background-color: var(--blue);
  padding-right: 13px;
  padding-left: 13px;
}

.logo_img_container {
  width: 60px;
  height: 60px;
}

.title {
  margin-bottom: 0;
  margin-left: 10px;
}

.cart_btn {
  background-color: var(--dark-blue) ;
  color: #000;
  width: 90px !important;
  height: 50px;
  border: transparent;
  width: 70px;
}

.btn_text {
  font-size: 25px;
  margin-bottom: 0;
  margin-left: 7px;
}