.footer {
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
}

.logo_container {
  width: 60px;
  height: 60px;
}

.liscense {
  margin-bottom: 0;
  margin-left: 8px;
}


/* --------------- MEDIA QUERY --------------*/

@media only screen and (min-width: 992px) {
  .nav_item {
    margin-left: 10px;
  }
}
