.mini_card {
  margin: 8px auto;
  background-color: #fff;
}

.img_container {
  width: 70px;
  height: 70px;
  margin-left: 5px;
}

.product_infos {
  margin-left: 5px;
}

.product_name {
  font-size: 20px;
}

.price {
  color: #f00;
  font-size: 12px;
  margin-bottom: 10px;
}

.trash_icon {
  margin: auto 10px auto 10px;
}